[Unit]
Description=Jito Shredstream Proxy Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/shredstream-proxy
ExecStart=/root/shredstream-proxy/shredstream.sh
Restart=always
RestartSec=5
StandardOutput=append:/root/shredstream-proxy/shredstream.log
StandardError=append:/root/shredstream-proxy/shredstream.log
User=root

[Install]
WantedBy=multi-user.target